!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = yield :meta
    
    %meta{:name => "description", :content => t('home.whats_this_txt')}
    %meta{:property => "og:description", :content => t('home.whats_this_txt')}
    %meta{:property => 'og:image', :content => "#{request.protocol}#{request.host_with_port}" + image_path('favicon.png')}
    %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1.0"}
    <meta property="og:site_name" content="Europas 2014"/>
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
    =stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css', 'facebox', 'newstyles'
    =javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js', 'photocracy/jquery.min', 'photocracy/jquery-ui.min', 'photocracy/application', 'photocracy/jquery.timeago', 'photocracy/ajaxupload.3.9', 'facebox'

    :javascript 
      var AUTH_TOKEN = #{form_authenticity_token.to_json};
      var PAGE_LOADED_AT = new Date();
      var RAILS_LOCALE = '#{I18n.locale}';
      var VOTE_CROSSFADE_TRANSITION = #{@vote_crossfade_transition.nil? ? 'false' : @vote_crossfade_transition};
      var FADE_TIME = #{@crossfade_time.nil? ? 1100 : @crossfade_time};
      var FADE_IN_TIME = 250

    :javascript
      $(document).ready(function(){
        $("abbr.timeago").timeago();
        $('a[rel*=facebox]').facebox();
      });
  %body
    .div{:class => "container"}
      =render :partial => '/shared/flashes'
    .div{:class => "container"}
      =yield
    .div{:class => "container"}
      #ft
        /=link_to "Acerca de", '/about'
        / \-
        -if signed_in?
          = link_to t('user.logout'), '/sign_out'
          \-
          = link_to t('user.control_panel'), admin_path
        -else
          = link_to t('user.login'), sign_in_path

    /-if ['production'].include? Rails.env
    -if 1==0
      .analytics
        %script{:type => "text/javascript"}
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-17589269-1']);
          _gaq.push(['_trackPageview']);
          - if @earl && !@earl.ga_code.blank?
            _gaq.push(['b._setAccount', '#{h(@earl.ga_code)}']);
            _gaq.push(['b._trackPageview']);
        :javascript
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
