%div{:class => "candidate_box #{direction}"}
  .candidate_info
    .candidate_photo
      =image_tag(photo.image.url(:medium))
    %dl.dl-horizontal
      %dt
        Nombre
      %dd{:class => 'nombre'}
        = photo.nombre.nil? ? '-' : photo.nombre.strip == '' ? '-' : photo.nombre.strip
      %dt
        Apellidos
      %dd{:class => 'apellidos'}
        = photo.apellidos.nil? ? '-' : photo.apellidos.strip == '' ? '-' : photo.apellidos.strip
      %dt
        Estudios
      %dd{:class => 'estudios'}
        = photo.estudios.nil? ? '-' : photo.estudios.strip == '' ? '-' : photo.estudios.strip
      %dt
        Profesión
      %dd{:class => 'profesion'}
        = photo.profesion.nil? ? '-' : photo.profesion.strip == '' ? '-' : photo.profesion.strip
      %dt
        Idiomas que domina
      %dd{:class => 'idiomas_dominio'}
        = photo.idiomas.nil? ? '-' : photo.idiomas.strip == '' ? '-' : photo.idiomas.strip
      %dt
        Habilidades en
      %dd{:class => 'idiomas_habilidad'}
        = photo.idiomas_limitados.nil? ? '-' : photo.idiomas_limitados.strip == '' ? '-' : photo.idiomas_limitados.strip
      %dt
        Contribución Social
      %dd{:class => 'contribucion'}
        = photo.contribucion_social.nil? ? '-' : photo.contribucion_social.strip == '' ? '-' : photo.contribucion_social.strip
      %dt
        Motivaciones
      %dd{:class => 'motivacion'}
        = photo.motivaciones.nil? ? '-' : photo.motivaciones.strip == '' ? '-' : photo.motivaciones.strip
      %dt
        Capacitación
      %dd{:class => 'capacitacion'}
        = photo.capacitacion.nil? ? '-' : photo.capacitacion.strip == '' ? '-' : photo.capacitacion.strip
    .panel-group{:id => "#{direction}Accordion"}
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", "data-parent" => "##{direction}Accordion", :href => "#collapseOne#{direction}"}
              Información adicional (Click para ver)
        .panel-collapse.collapse{:id => "collapseOne#{direction}"}
          .panel-body.additionalinfo
            = photo.additionalinfo.nil? ? '-' : photo.additionalinfo.strip == '' ? '-' : photo.additionalinfo.strip

  .form_actions
    %a{:href => vote_question_prompt_url(@question.id, @prompt.id, :direction => direction),
              :thumb => photo.image.url(:thumb), :choice_url => url_for(:action => :show, :controller => :choices, :id => choice, :question_id => params[:id]), :class => "#{direction} vote btn btn-primary big-btn", :direction => direction, :future_photo => future_photo.image.url(:medium), :id => direction == "left" ? "leftside" : "rightside" }
      %span{:class => 'glyphicon glyphicon-thumbs-up'}
      Me gusta más
    %br
    %br
    =link_to 'Avalar la candidatura', 'javascript:messagevote('+photo.foreign_id.to_s+', "'+direction+'");', {:class => 'btn btn-info', :target => '_blank'}
    %p{:id => "#{direction}availMsg"}
