%div{:class => "candidate_box #{direction}"}
  .candidate_info
    .candidate_photo
      =image_tag(photo.image.url(:medium))
    %dl.dl-horizontal
      %dt
        Nombre
      %dd{:class => 'nombre'}
        = photo.nombre.nil? ? '-' : photo.nombre.strip == '' ? '-' : photo.nombre.strip
      %dt
        Apellidos
      %dd{:class => 'apellidos'}
        = photo.apellidos.nil? ? '-' : photo.apellidos.strip == '' ? '-' : photo.apellidos.strip
      %dt
        Estudios
      %dd{:class => 'estudios'}
        = photo.estudios.nil? ? '-' : photo.estudios.strip == '' ? '-' : photo.estudios.strip
      %dt
        Profesion
      %dd{:class => 'profesion'}
        = photo.profesion.nil? ? '-' : photo.profesion.strip == '' ? '-' : photo.profesion.strip
      %dt
        Idiomas que domina
      %dd{:class => 'idiomas_dominio'}
        = photo.idiomas.nil? ? '-' : photo.idiomas.strip == '' ? '-' : photo.idiomas.strip
      %dt
        Habilidades en otros idiomas
      %dd{:class => 'idiomas_habilidad'}
        = photo.idiomas_limitados.nil? ? '-' : photo.idiomas_limitados.strip == '' ? '-' : photo.idiomas_limitados.strip
      %dt
        Partido politico
      %dd{:class => 'partido'}
        = photo.partido_politico.nil? ? '-' : photo.partido_politico.strip == '' ? '-' : photo.partido_politico.strip
      %dt
        Contribucion Social
      %dd{:class => 'contribucion'}
        = photo.contribucion_social.nil? ? '-' : photo.contribucion_social.strip == '' ? '-' : photo.contribucion_social.strip
      %dt
        Motivaciones
      %dd{:class => 'motivacion'}
        = photo.motivaciones.nil? ? '-' : photo.motivaciones.strip == '' ? '-' : photo.motivaciones.strip

  .form_actions
    %a{:href => vote_question_prompt_url(@question.id, @prompt.id, :direction => direction),
              :thumb => photo.image.url(:thumb), :choice_url => url_for(:action => :show, :controller => :choices, :id => choice, :question_id => params[:id]), :class => "#{direction} vote btn btn-primary big-btn", :direction => direction, :future_photo => future_photo.image.url(:medium), :id => direction == "left" ? "leftside" : "rightside" }
      %span{:class => 'glyphicon glyphicon-thumbs-up'}
      Me gusta más
    %br
    %br
    -if !photo.url_mifirma.nil? && photo.url_mifirma.strip != ''
      =link_to 'Ver perfil y/o avalar', photo.url_mifirma, {:class => 'btn btn-info', :target => '_blank'}
      %p{:class => 'noprofile'}
    -else
      =link_to 'Ver perfil y/o avalar', '/', {:class => 'btn btn-info disabled', :target => '_blank'}
      %p{:class => 'noprofile'}
        El candidato no tiene un perfil extendido para avalar

    %p
      