.container_12
  =render :partial => 'photocracy/questions/results_header'
  .grid_3
    &nbsp;
  .grid_8
    %a{:href => "http://#{@photocracy ? APP_CONFIG[:PHOTOCRACY_HOST] : APP_CONFIG[:HOST]}/#{@earl.name}/addphotos"}
      Agregar mas candidatos

    %form{:name => 'update_urls', 'method' => 'POST'}
      %table.admin{:style => 'width:800px;'}
        %thead 
          %tr.row0
            %th
            %th.score Nombre
            %th.score Apellidos
            %th.score Puntaje
            %th.score Activado?
        %tbody 
          -@choices.each do |choice|
            -@cand = Candidate.find(choice.data)
            %tr{:class => cycle("row1", "row2")}
              %td.title= link_to  image_tag(@cand.image.url(:thumb)), :action => 'show', :controller => "choices", :id => choice.id, :question_id => @earl.name
              %td.votes= @cand.nombre
              %td.votes= @cand.apellidos
              %td.votes= choice.attributes['score'].round.to_s
              %td.votes{:id => "choice_#{choice.id}_status"}
                %label{:class => ('Deactivated' unless choice.active?)}
                = check_box_tag :choice_active, choice.id, choice.active?, :class => 'activation', :href => toggle_choice_status_url(@earl.id, choice.id, :format => :js) if @choices.size > 3
                %span= choice.active? ? t('items.list.activated') : t('items.list.deactivated')
      %br
      %input{:type => 'hidden', :name => 'updateurls', :value => '1'}
      %input{:type => 'hidden', :name => 'authenticity_token', :value => form_authenticity_token}
      %input{:type => 'submit', :value => 'Actualizar URLS'}
            

    %p
      = t('admin.this_question_created') + " #{time_ago_in_words(@earl.created_at)} " + t('admin.ago') 
      = t('admin.and_registered_to') + ": " + @earl.user.email
    