=render :partial => "shared/highcharts_header"

.section-1
  .container
    .section-header
      %h2 Europeas 2014
      %h3
        Revisa los resultados aquí o
        %a{href: "/candidatos"} sigue votando
    .section-content
      .container
        -@choices.each do |choice|
          -i = @all_choices.index(choice)
          -cand = Candidate.find(choice.data)
          -aval_count = Aval.count(:conditions => ["foreign_id = ?", cand.foreign_id])

          -if i % 4 == 0
            <div class="row">
          .col-xs-6.col-sm-4.col-md-3
            .thumbnail.thumbnail-panel{href: "#"}
              .item-center2
                %img.img-responsive{src: "#{cand.image.url(:medium)}", width: "188"}/
                %ul.list-inline.soc-list
                  - if cand.link_linkedin != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_linkedin}", target: "_blank"}
                        %span.gh-ico.linkedin
                  - if cand.link_facebook != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_facebook}", target: "_blank"}
                        %span.gh-ico.facebook
                  - if cand.link_twitter != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_twitter}", target: "_blank"}
                        %span.gh-ico.twitter
                  - if cand.link_youtube != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_youtube}", target: "_blank"}
                        %span.gh-ico.youtube
                  - if cand.link_blog != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_blog}", target: "_blank"}
                        %span.gh-ico.blogger
                %ul.campos
                  %li.aka.name
                    %span.item-label Nombre:
                    %p.item-panel
                      =cand.nombre + ' ' + cand.apellidos
                  %li.aka
                    %span.item-label Estudios:
                    %p.item-panel
                      =cand.estudios
                  %li.aka
                    %span.item-label Profesión:
                    %p.item-panel
                      =cand.profesion
                  %li.aka
                    %span.item-label Idiomas:
                    %p.item-panel
                      =cand.idiomas
                .panel-collapse.collapse{:id => 'collapse' + i.to_s}
                  %ul.campos
                    %li.aka
                      %span.item-label ContribuciónSocial:
                      %p.item-panel
                        =cand.contribucion_social
                    %li.aka
                      %span.item-label Motivación:
                      %p.item-panel
                        =cand.motivaciones
                    %li.aka
                      %span.item-label Capacitación:
                      %p.item-panel
                        =cand.capacitacion
                    %li.aka
                      %span.item-label Información adicional:
                      %p.item-panel
                        =cand.additionalinfo
                %ul.campos
                  %li.aka.scores
                    %span.item-label Posición por número de veces elegido/a:
                    %p.item-panel
                      =(i+1)
                  %li.aka.scores
                    %span.item-label Posición por numero de avales:
                    %p.item-panel
                      =@avails_rank[choice.id]
                  %li.aka.scores
                    %span.item-label Numero de avales:
                    %p.item-panel
                      =aval_count
                  %li.aka
                    %span.item-label ¿Como avalar a este candidato?
                    %p.item-panel
                      Para avalarlo, envía un SMS con el número <b>#{cand.foreign_id}</b> al número 947 080 004 *
                /%p.def
                /  %a.btn.btn-success.btn-lg.btn-block{href: "#", role: "button"}
                /    %i.fa.fa-user.fa-lg
                /    Vótalo con tu móvil
                .panel-tab
                  .panel-title
                    %a.ver-mas-icon.collapsed{href: "#collapse" + i.to_s, 'onclick' => "toggleCollapse('" + i.to_s + "')", 'title' => 'Pincha aqui para ver mas!'}
                      .halfcircle-bottom.desplegable
                        %span.glyphicon.glyphicon-plus{id: 'vermas' + i.to_s}
          -if (i+1) % 4 == 0
            </div>

        .row
          .col-xs-12
            %p.legal
              (*)IMPORTANTE: Esta votación te sirve para conocer a los candidatos, sin embargo  para votar oficialmente al candidato debes hacerlo con el aval por SMS. (El sistema de avales no funciona con móviles DIA y Jazztel)
            %p.legal
              Este es un trabajo que hacemos de forma voluntaria y gratuita, pero si quieres, puedes ayudarnos con los gastos
            %p.legal
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="YC7RZGPGADPC4"><input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet."><img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1"></form>

