=render :partial => "shared/highcharts_header"

.section-1
  .container
    .section-header
      %h2 Consejo Ciudadano de Podemos
    .section-content
      .container
        -i = -1
        -@choices.each do |choice|
          -i = i + 1
          -cand = Candidate.find(choice.data)

          -if i % 4 == 0
            <div class="row">
          .col-xs-6.col-sm-4.col-md-3
            .thumbnail.thumbnail-panel
              .item-center2{href: "#", style:'min-height:150px;'}
                %img.img-responsive{src: "#{cand.image.url(:medium)}", width: "188"}
                %ul.list-inline.soc-list
                  - if cand.link_linkedin != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_linkedin}", target: "_blank"}
                        %span.gh-ico.linkedin
                  - if cand.link_facebook != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_facebook}", target: "_blank"}
                        %span.gh-ico.facebook
                  - if cand.link_twitter != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_twitter}", target: "_blank"}
                        %span.gh-ico.twitter
                  - if cand.link_youtube != "" and not cand.link_youtube.nil?
                    %li
                      %a.soc-btn{href: "#{cand.link_youtube}", target: "_blank"}
                        %span.gh-ico.youtube
                  - if cand.link_blog != ""
                    %li
                      %a.soc-btn{href: "#{cand.link_blog}", target: "_blank"}
                        %span.gh-ico.blogger
                %ul.campos
                  %li.aka.name
                    %span.item-label Nombre:
                    %p.item-panel
                      =cand.nombre
                .panel-collapse.collapse{:id => 'collapse' + i.to_s}
                  %ul.campos
                    %li.aka
                      %span.item-label Biografia:
                      %p.item-panel
                        =cand.capacitacion
                    %li.aka
                      %span.item-label Motivación:
                      %p.item-panel
                        =cand.motivaciones
                    %li.aka
                      %span.item-label Candidatura original:
                      %p.item-panel
                        %a{href:cand.additionalinfo}
                          Ver
                %ul.campos
                  %li.aka.scores
                    %span.item-label Posición:
                    %p.item-panel
                      =@offset+i+1
                .panel-tab
                  .panel-title
                    %a.ver-mas-icon.collapsed{href: "#collapse" + i.to_s, 'onclick' => "toggleCollapse('" + i.to_s + "')", 'title' => 'Pincha aqui para ver mas!'}
                      .halfcircle-bottom.desplegable
                        %span.glyphicon.glyphicon-plus{id: 'vermas' + i.to_s}
          -if (i+1) % 4 == 0
            </div>

        .row
          .col-xs-12.col-sm-8.col-sm-offset-4
            =will_paginate @choices, :previous_label => 'Anterior', :next_label => 'Siguiente', :class => 'paginador'
        .row
          %p.legal
            Este es un trabajo que hacemos de forma voluntaria y gratuita el equipo de ATD y ListAbierta para el fomento de la democracia participativa y directa
